* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: orange;
}

input {
    display: flex;
    align-items: center;
    height: 40px;
    width: 300px;
    padding: 5px;
    margin-bottom: 15px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #484848;
    padding: 50px;
    background: #f5f5f5;
}

.container h3 {
    font-family: monospace;
    padding-bottom: 20px;
    font-size: 2rem;
    color: #484848;
}

#btn {
    /* position: relative; */
    height: 40px;
    width: 120px;
    background: orangered;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 1.5rem;
    color: #f5f5f5;
    transition: 0.2s ease;
    /* margin: auto; */
    /* text-align: center; */
}

#btn:hover {
    background: orange;
    transition: 0.2s ease;
}